<!-- <div class="container" style="width:100%"> -->
<div class="row">
    <div class="col-4 pt-3 mt-3 pl-4">
        <div class="row">
            <div class="col">
                <input type="text" #input/>
                <button type="submit" class="btn-sm btn-primary" (click)="addLayer(input.value)">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br/><br/>
                <h4>Active Layers:</h4>
            </div>
        </div>
        <div class="row" *ngFor="let layer of (layers | keys); let i = index">
            <!-- <div class="col-2"> -->
            <!-- </div> -->
            <div class="col" [ngStyle]="{color:layers[layer]['color']}">
                    <button class="btn-sm btn-primary" (click)="removeLayer(layer)">-</button>
                {{layer}}
            </div>
        </div>
    </div>
    <div class="col-8">
        <div #mapViewNode></div>
    </div>
</div>
<!-- </div> -->